<div class="banner">
    <h2>Good Afternoon, {{ userName }}!</h2>
    <p>Submit activity is must for every site visit and office visit</p>
</div>

<div *ngIf="error" style="color: red; padding: 10px; background: #fee; border-radius: 8px; margin-top: 10px;">
    {{ error }}
</div>

<div *ngIf="loading" style="padding: 10px; color: blue; font-weight: bold;">
    Loading data from backend...
</div>

<div class="kpis">
    <app-kpi-card title="Total Leads" [value]="dashboard?.total_leads"></app-kpi-card>
    <app-kpi-card title="Active Customers" [value]="dashboard?.active_customers"></app-kpi-card>
    <app-kpi-card title="Pending Leads" [value]="dashboard?.pending_leads"></app-kpi-card>
    <app-kpi-card title="Site Visit Done" [value]="dashboard?.site_visit_done"></app-kpi-card>
    <app-kpi-card title="Deals Closed" [value]="dashboard?.deals_closed"></app-kpi-card>
</div>

<button class="add-project-btn" (click)="onAddProject()">
    + Add New Project
</button>
